{% extends "layout.html" %}

{% block content %}
  <div class="content">
    <h1>{{ concept.name }} <span class="badge badge-secondary">:{{ concept.label }}</span></h1>
    <p class="lead">{{ concept.definition }}</p>
    {% if model-exists %}
      <div id="knetwork"></div>
    {% endif %}
    <br>
    <h3>Content</h3>
    <div class="row">
      <div class="col-md-8">
        <div class="list-group">
          {% if session %}
            {% for content in contents %}
              <a href="{{ portal-url }}{{ content.url }}" target="_blank" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h4 class="mb-1">{{ content.title }}</h4>
                  <small>{{ content.modified|subs:0:10 }}</small>
                </div>
                <p class="mb-1">{{ content.excerpt }}</p>
                <span class="badge badge-pill badge-secondary">{{ concept.label }}</span>
              </a>
            {% empty %}
              <p>No content available for {{ concept.name }}. To see content here, go to the wiki and add the label 
              <span class="badge badge-secondary">{{ concept.label }}</span> to the appropriate pages.</p>
            {% endfor %}
          {% else %}
            <form action="/wiki/auth" method="POST">
              <p>In order to retrieve information from the wiki, Klakes uses your Wiki's credentials. 
                 These are asked only once and kept in memory while the application is running, then 
                 discarded in the shutdown.</p>
              <div class="form-group">
                <label for="user">User</label>
                <input type="text" class="form-control" id="user" name="user" placeholder="Wiki's user">
                <small class="form-text text-muted">Inform your wiki's username.</small>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
              <input type="hidden" name="id" value="{{ concept.id }}">
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          {% endif %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="mb-1">{{ concept.name }} is influenced by</h5>
            <ul>
            {% for object in influenced %}
              <li><a href="/concepts/{{ object.id }}">{{ object.name }}</a></li>
              {% empty %}
                {{ concept.name }} doesn't suffer any influence.
            {% endfor %}
            </ul>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <h5 class="mb-1">{{ concept.name }} influences</h5>
            <ul>
            {% for subject in influences %}
              <li><a href="/concepts/{{ subject.id }}">{{ subject.name }}</a></li>
              {% empty %}
                {{ concept.name }} doesn't influence other concepts.
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>  
{% endblock %}

{% block page-scripts %}
  {% script "/js/vis.min.js" %}
  <script type="text/javascript">
    
    fetch('/api/model/concepts/{{ concept.id }}')
      .then(function(response) {
        return response.json();
      })
      .then(function(model) {
        var nodes = new vis.DataSet(model.concepts);
        var edges = new vis.DataSet(model.predicates);
                
        var data = {
          nodes: nodes,
          edges: edges
        };
      
        var options = {
          nodes: {
            shadow:true
          },
          edges: {
            shadow:true
          }
        };

        var container = document.getElementById('knetwork');
        
        var network = new vis.Network(container, data, options);

        network.on("click", function (params) {
          var id = this.getNodeAt(params.pointer.DOM);
          if(id != undefined) {
            window.location.href = '/concepts/' + id;
          }
        });
      });
  </script>
{% endblock %}