{% extends "layout.html" %}

{% block content %}
  <div class="content">
    <div id="knetwork"></div>
  </div>
{% endblock %}

{% block page-scripts %}
  {% script "/js/vis.min.js" %}
  <script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet([
        {id: 6, shape: 'box', group: 0, label: 'Technology'},
        {id: 7, shape: 'box', group: 1, label: 'Platform'},
        {id: 8, shape: 'box', group: 2, label: 'Design'},
        {id: 9, shape: 'box', group: 3, label: 'Code'},
        {id: 10, shape: 'box', group: 4, label: 'Runtime'}
    ]);

    // create an array with edges
    var edges = new vis.DataSet([
        {from: 6, to: 7, arrows:'to', font: {align: 'top'}, label: 'enables'},
        {from: 7, to: 8, arrows:'to', font: {align: 'top'}, label: 'enables'},
        {from: 8, to: 9, arrows:'to', font: {align: 'top'}, label: 'enables'},
        {from: 9, to: 10, arrows:'to', font: {align: 'top'}, label: 'enables'}
    ]);

    // create a network
    var container = document.getElementById('knetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
      autoResize: true,
      height: '100%',
      width: '100%',
      nodes: {
        shadow:true
      },
      edges: {
        shadow:true
      }
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);

    network.on("click", function (params) {
      var id = this.getNodeAt(params.pointer.DOM);
      if(id != undefined) {
        window.location.href = '/content/' + id;
      }
    });
  </script>
{% endblock %}