{% extends "layout.html" %}

{% block content %}
  <div class="content">
    {% if model-exists %}
      <div id="knetwork"></div>
    {% endif %}
    <hr>
    <form class="form" action="/model/load" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="model-file">Upload the model file to create or update the Knowledge Lakes:</label>
        <input type="file" name="model-file" id="model-file" class="form-control-file">
      </div>
      <input type="submit" value="Load" class="btn btn-primary">
    </form>
  </div>
{% endblock %}

{% block page-scripts %}
  {% script "/js/vis.min.js" %}
  <script type="text/javascript">
    
    fetch('/api/model/lakes')
      .then(function(response) {
        return response.json();
      })
      .then(function(lakes) {
        var nodes = new vis.DataSet(lakes);
        var edges = new vis.DataSet([
          {from: 1, to: 11, arrows:'to', font: {align: 'top'}, label: 'enables'},
          {from: 6, to: 11, arrows:'to', font: {align: 'top'}, label: 'enables'},
          {from: 7, to: 11, arrows:'to', font: {align: 'top'}, label: 'evolves'},
          {from: 8, to: 7, arrows:'to', font: {align: 'top'}, label: 'runs'}
        ]);

        var container = document.getElementById('knetwork');

        // provide the data in the vis format
        var data = {
          nodes: nodes,
          edges: edges
        };
      
        var options = {
          nodes: {
            shadow:true
          },
          edges: {
            shadow:true
          }
        };

        // initialize your network!
        var network = new vis.Network(container, data, options);

        network.on("click", function (params) {
          var id = this.getNodeAt(params.pointer.DOM);
          if(id != undefined) {
            window.location.href = '/content/' + id;
          }
        });
      });
  </script>
{% endblock %}