{% extends "layout.html" %}

{% block content %}
  <div class="content">
    {% if model-exists %}
      <div id="knetwork"></div>
    {% endif %}
    <br>
    <div class="card">
      <div class="card-body">
        <form class="form" action="/model/load" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="model-file">Upload the model to create or update the Knowledge Lakes:</label>
            <input type="file" name="model-file" id="model-file" class="form-control-file">
          </div>
          <input type="submit" value="Load" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block page-scripts %}
  {% script "/js/vis.min.js" %}
  <script type="text/javascript">
    
    fetch('/api/model/lakes')
      .then(function(response) {
        return response.json();
      })
      .then(function(model) {
        var nodes = new vis.DataSet(model.concepts);
        var edges = new vis.DataSet(model.predicates);
                
        var data = {
          nodes: nodes,
          edges: edges
        };
      
        var options = {
          nodes: {
            shadow:true
          },
          edges: {
            shadow:true
          }
        };

        var container = document.getElementById('knetwork');
        
        var network = new vis.Network(container, data, options);

        network.on("click", function (params) {
          var id = this.getNodeAt(params.pointer.DOM);
          if(id != undefined) {
            window.location.href = '/concepts/' + id;
          }
        });
      });
  </script>
{% endblock %}