{:up   
  ["create table content (
    id        integer primary key autoincrement,
    title     text    not null,
    url       text    not null,
    reference text,
    excerpt   text,
    modified  text,
    sequence  integer    
  )"]
 :down 
  ["drop table content"]}