{:up   
  ["create table concept_content (
    concept integer not null,
    content integer not null,
    constraint pk_concept_content primary key (concept, content),
    constraint fk_concept_content foreign key (concept) references concept (id) on delete cascade,
    constraint fk_content_concept foreign key (content) references content (id) on delete cascade
  )"]
 :down 
  ["drop table concept_content"]}